body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}
p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    outline: none;
    font-size: 14px;
}
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    outline: none;
    font-size: 14px;
}
button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}
button[type="submit"]:hover {
    background-color: #555;
}
/* Estilo para quitar el subrayado del enlace y color */
.forgotpass {
    text-decoration: none; 
    color: black;
}
/* Estilo para posicionar el enlace en la esquina superior derecha */
.register-link {
    position: absolute;
    top: 10px;
    right: 10px;

}
.nuevo  {
    position: absolute;
    top: 18px;
    right: 140px;
    text-decoration: none; 
    color: #333;
}
